div.container {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

div.grid {
    width: 75px;
    height: 75px;
    margin: 5px;
    line-height: 75px;
    box-shadow: 5px 5px 5px gray;
    font-size: 10px;
    display: inline-block;
}